rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /{document=**} {
  allow read, write: if
    request.time < timestamp.date(2022, 1, 7);
  }
  }
}
// DELETE FULL DB : firebase firestore:delete -r csv


// rules_version = '2';
// service cloud.firestore {

// // DELETE FULL DB : firebase firestore:delete -r csv
// match /databases/{database}/documents {
// // match /{document=**} {
//   // allow read, write: if true;
//   // }

// // 1
// // private
// //  match /admin/portfolio/{document=**} {
// //  match /admin/site/{document=**} {
// //  match /admin/contact/{document=**} {
// //    match /admin/theme/{document=**} {
// //    match /admin/site/{document=**} {
// //    match /admin/profile/{document=**} { // cf: USER ?

//   // 1
//   // USER
//   match /user/{document=**} {
//   allow read: if true;
//   allow write: if isSignedIn();
//   }
// // match /user/{document=**} {
//   // allow read: if true;
//   // allow write: if isRoot();
//   // }
//   // TODO - best option
// // match /user/{userId}/{document=**} {
//   // allow read: if true;
//   // allow write: if isOwner(userId);
//   // }
//   // 1
//   // public
//   // banner, trailer
//   match /portfolio/{document=**} {
//   allow read: if true;
//   allow write: if isRoot();
//   }
//   match /contact/{document=**} {
//   allow read: if true;
//   allow write: if isRoot();
//   }
//   match /store/{document=**} {
//   allow read: if true;
//   allow write: if isRoot();
//   }
//   match /site/{document=**} {
//   allow read: if true;
//   allow write: if true;
//   // allow write: if isRoot();
//   allow write: if isRoot();
//   }

//   // 2
//   // ---
//   // HELPERS
//   function isRoot(){
//   // TODO - regnou.a@gmail.com
//   return request.auth.uid == '6fjMl5YGoFRlv7pVhqkB6kpmjDs2';
//   }
//   // UNUSED
//   function isSignedIn(){
//   return request.auth != null;
//   }
//   function isOwner(userId){
//   return request.auth.uid == userId;
//   }
//   // ---
//   //END
//   // 3
// }
// }

// X
// rules_version = '2';
// service cloud.firestore {
// match /databases/{database}/documents {


//   match /users/{userId} {

//   allow read: if isSignedIn();
//   allow update, delete: if hasAnyRole(['admin']);

//   }

//   match /posts/{postId} {
//   allow read: if ( isSignedIn() && resource.data.published ) || hasAnyRole(['admin']);
//   allow create: if isValidNewPost() && hasAnyRole(['author']);
//   allow update: if isValidUpdatedPost() && hasAnyRole(['author', 'editor', 'admin']);
//   allow delete: if hasAnyRole(['admin']);
//   }


//   function isSignedIn() {
//   return request.auth != null;
//   }

//   function hasAnyRole(roles) {
//   return isSignedIn()
//     && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.hasAny(roles)
//   }

//   function isValidNewPost() {
//   let post = request.resource.data;
//   let isOwner = post.uid == request.auth.uid;
//   let isNow = request.time == request.resource.data.createdAt;
//   let hasRequiredFields = post.keys().hasAll(['content', 'uid', 'createdAt', 'published']);

//   return isOwner && hasRequiredFields && isNow;
//   }

//   function isValidUpdatedPost() {
//   let post = request.resource.data;
//   let hasRequiredFields = post.keys().hasAny(['content', 'updatedAt', 'published']);
//   let isValidContent = post.content is string && post.content.size() < 5000;

//   return hasRequiredFields && isValidContent;
//   }

// }
// }


// X

//  match /contacts/{contactId} {
//  allow read: if isSignedIn();
//  allow write: if isSignedIn();
//  }
//
//  // function isRoot(userId){
//  // return request.auth.uid == "";
//  // }

//  function emailVerified(){
//  return request.auth.token.email_verified;
//  }
//
//  function existingData(){
//  return resource.data;
//
//  }
//  function incomingData(){
//  return request.resource.data;
//  }

  // DEFAULT
  //  match /users/{userId} {
  //  allow read: if isSignedIn();
  //  allow write: if isOwner(userId);
  //  }